<div fxLayout="column"  fxLayoutGap="5px"> 
  <div fxLayout="row wrap"  fxLayoutGap="5px"> 
    <div  fxFlex class="green"> Belegempfänger</div>
    <div  fxFlex class="red"> Leistungsträger</div>
    <div fxFlex fxLayout="column" fxLayoutGap="5px" >
      <div  fxFLex class="purple"> Nicht Tauschgrund</div>
      <div  fxFLex class="yellow"> Bemerkung </div>
    </div>
  </div>
   <div fxLayout="row wrap"  fxLayoutGap="5px"> 
    <div  fxFlex="0 0 20%" class="green"> Belegempfänger</div>
    <div  fxFlex class="red"> Leistungsträger</div>
    <div  fxFlex class="green"> Belegempfänger</div>
    <div  fxFlex class="red"> Leistungsträger</div>
  </div>
   <div fxLayout="row wrap"  fxLayoutGap="5px"> 
    <div  fxFlex class="blue"> Localization</div>

  </div>
  
</div>