<div fxLayout="column"  fxLayoutGap="5px"> 
  <div fxLayout="row wrap"  fxLayoutGap="5px"> 
    <div  fxFlex class="green"> Belegempfänger
      <div fxLayout="column">    
        <div fxLayout="row">
        <div fxFlex >Name</div>
        <div  >Icon</div>
        <div fxFlex="0 0 20%" >Typ</div>
        </div>
        <div fxLayout="row">
          Straße
        </div>
        <div fxLayout="row">
        <div fxFlex="0 0 20%">Land</div>
        <div>PLZ</div>
        <div fxFlex>ORT</div>
        </div>
      </div>
    </div>
    <div  fxFlex class="red"> Ladungsträger
      <div fxLayout="column">    
        <div fxLayout="row">
        <div fxFlex >Ladungsträger</div>
        <div fxFlex>Menge</div>
        </div>
        <div fxLayout="row">
          +
        </div>
      </div>
    </div>
    <div fxFlex fxLayout="column" fxLayoutGap="5px" >
      <div  fxFLex class="purple"> Nicht Tauschgrund
        <div fxLayout="column">    
        <div fxFlex >beispoiel</div>
        <div fxFlex>beispoiel</div>
        <div fxFlex>beispoiel</div>
        </div>
        
      </div>
   <div  fxFLex class="yellow"> Bemerkung 
      <div fxLayout="column">    
        <div fxFlex >Hier können Sie eine kurze Mitteilung an DPL</div>
        </div>
    </div>
    </div>
  </div>
   <div fxLayout="row wrap"  fxLayoutGap="5px"> 
    <div  fxFlex="0 0 20%" class="green"> Fahrzeug und Fahrer
        <div fxLayout="column">    
        <div fxLayout="row">
        <div fxFlex="0 0 20%">Land</div>
        <div fxFlex >Kennzeichen</div>
        
        </div>
        <div fxLayout="row">
          Name des Fahrers
        </div>
      </div>

    </div>
    <div  fxFlex class="red"> Leistungsträger
      <div fxLayout="column">    
        <div fxLayout="row">
        <div fxFlex >Name</div>
        <div  >Icon</div>
        <div fxFlex="0 0 20%" >Typ</div>
        </div>
        <div fxLayout="row">
          Straße
        </div>
        <div fxLayout="row">
        <div fxFlex="0 0 20%">Land</div>
        <div>PLZ</div>
        <div fxFlex>ORT</div>
        </div>
      </div>
    </div>
    <div  fxFlex class="green"> Belegempfänger
      <div fxLayout="column">    
        <div fxLayout="row">
        <div fxFlex >Name</div>
        <div  >Icon</div>
        <div fxFlex="0 0 20%" >Typ</div>
        </div>
        <div fxLayout="row">
          Straße
        </div>
        <div fxLayout="row">
        <div fxFlex="0 0 20%">Land</div>
        <div>PLZ</div>
        <div fxFlex>ORT</div>
        </div>
      </div>
    </div>
    <div  fxFlex class="red"> Leistungsträger
      <div fxLayout="column">    
        <div fxLayout="row">
        <div fxFlex >Name</div>
        <div  >Icon</div>
        <div fxFlex="0 0 20%" >Typ</div>
        </div>
        <div fxLayout="row">
          Straße
        </div>
        <div fxLayout="row">
        <div fxFlex="0 0 20%">Land</div>
        <div>PLZ</div>
        <div fxFlex>ORT</div>
        </div>
      </div>
    </div>
  </div>
 
   <div fxLayout="row-reverse" fxLayoutGap="5px"> 
    <div  class="red" > Vorlage laden</div>
    <div  class="yellow"> Vorlage laden</div>
    <div  class="blue"> Vorlage laden</div>
    <div  class="green start" > Localization</div>
     <div  class="green" > Localization</div>


  </div>
  
</div>