
/* 
div{ border: 1px solid black} */

.start{
  margin-right: auto;
}
.end{
  margin-left: auto;
}

/*bug with angular 5 hot fix*/
::ng-deep .mat-form-field-infix {
    width: auto !important;
}


  .mat-badge-medium.mat-badge-above .mat-badge-content {
    top: -25px;
    right: -25px;

}
.badge{
  margin-left: -30px;
}
