<div fxlayout="column">
	<div fxLayout="row" class="navbar" >
    <div fxFlex="10%"> <p>LOGO</p></div>
		<button mat-button [matMenuTriggerFor]="menu">Menu</button>
		<mat-menu #menu="matMenu">
			<button mat-menu-item>Item 1</button>
			<button mat-menu-item>Item 2</button>
		</mat-menu>
		<button mat-button [matMenuTriggerFor]="menu">Menu</button>
		<mat-menu #menu="matMenu">
			<button mat-menu-item>Item 1</button>
			<button mat-menu-item>Item 2</button>
		</mat-menu>
		<button mat-button [matMenuTriggerFor]="menu">Menu</button>
		<mat-menu #menu="matMenu">
			<button mat-menu-item>Item 1</button>
			<button mat-menu-item>Item 2</button>
		</mat-menu>
		<button mat-button [matMenuTriggerFor]="menu">Menu</button>
		<mat-menu #menu="matMenu">
			<button mat-menu-item>Item 1</button>
			<button mat-menu-item>Item 2</button>
		</mat-menu>
	</div>
</div>