<div fxLayout="column"  fxLayoutGap="5px"> 
  <div fxLayout="row-reverse"> 
    <div  FLexLayoutAlign="flex-end" class="blue"> Vorlage laden</div>
  </div>
  <div fxLayout="row wrap"  fxLayoutGap="5px"> 
    <div  fxFlex="3 1 60%" class="green"> Belegempfänger</div>
    <div  fxFlex class="red"> Leistungsträger</div>
     <div  fxFlex class="yellow"> Leistungsträger</div>
   
  </div>
   <div fxLayout="row-reverse" fxLayoutGap="5px"> 
    <div  class="red" > Vorlage laden</div>
    <div  class="yellow"> Vorlage laden</div>
    <div  class="blue"> Vorlage laden</div>
    <div  class="green start"  > Vorlage laden</div>
  </div>

   <div fxLayout="row wrap" class="blue" fxLayoutGap="5px"> 
     <div fxFlex="20%" fxLayout="row wrap" class="light-blue" fxLayoutGap="5px"> 
       Ladungsträger
  </div>
   <div fxFlex fxLayout="row wrap" class="light-blue" fxLayoutGap="5px"> 
       Trägerpalette
  </div>
  <div fxFlex="55%" fxLayout="row wrap" class="light-blue" fxLayoutGap="5px"> 
       Termin
  </div>
  
</div>